<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XYOutlookPlugin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XYOutlookPlugin.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XYOutlookPlugin.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <applicationSettings>
        <XYOutlookPlugin.Settings1>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log" serializeAs="String">
                <value>False</value>
            </setting>
        </XYOutlookPlugin.Settings1>
    </applicationSettings>
    <userSettings>
        <XYOutlookPlugin.MySettings>
            <setting name="archivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OCRMode" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPlainText" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpiryTime" serializeAs="String">
                <value />
            </setting>
        </XYOutlookPlugin.MySettings>
        <XYOutlookPlugin.app>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OCR_ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="OCR_ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseUser" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LicenseData" serializeAs="String">
                <value></value>
            </setting>
        </XYOutlookPlugin.app>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
